build/*
photo_screen/*
tools/*
dump/*
screenshot/*
imageFiles/*
hardware/sdiskII_stm32-backups
releases/*
Drivers
.stm32env*
**/.DS_Store
.osx*
CMake*
*.lck
STM32F411CEUX_FLASH_bkp*
.DS_Store
blink.ino.uf2
documentation/*
Core/Src/tmp.c
scr/*
